<div class="scrollable">
  <div class="row mb-3">
    <div class="col-12 col-sm-6 col-md-4">
      <input
        class="form-control"
        type="text"
        id="searchInput"
        name="searchInput"
        #searchInput
        placeholder="Search by brand"
        (keydown)="onKeyDown($event,searchInput)">
    </div>
    <div class="col-12 col-sm-6 col-md-6">
      <button
        *ngIf="filterBy !== ''"
        class="btn btn-secondary"
        (click)="searchInput.value = ''; onSearch(searchInput)">
        Clear
      </button>
      <button
        class="mr-2 btn btn-primary"
        (click)="onSearch(searchInput)">
        Search
      </button>
      <span class="font-weight-bold">| {{elementCount}} Element{{elementCount == 1 ? '': 's'}}</span>
    </div>
    <div class="col-12 col-md-2">
      <button class="btn btn-info btn-lg btn-block" (click)="onCompare()">Compare</button>
    </div>
  </div>
  <div class="card-deck justify-content-center justify-content-sm-center">
    <ng-container *ngFor="let car of cars; let i = index">
      <app-car-list-item
        *ngIf="filterBy == getBrandClass(car.brand) || filterBy == ''"
        (SelectedItem)="onSelectedItem($event)"
        [car]="car"
        [index]="i"
        [isCompareEnabled]="isCompareEnableForItem(car.carId)">
      </app-car-list-item>
    </ng-container>
  </div>
</div>
