<h1 *ngIf="cars.length == 0; else elseBlock">
   No cars have been selected to compare
</h1>
<ng-template #elseBlock>
  <div class="card-deck">
    <div class="card mx-2" *ngFor="let car of cars; let i = index">
      <img
        class="compare-image card-img-top img-fluid"
        src="{{car.getLargestPicture().path}}"
        alt="{{car.brand}} - {{car.model}} - {{car.year}}">
      <div class="card-body">
        <h5 class="card-title">{{car.brand}} {{car.model}} {{car.year}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{car.price | currency:car.currency}}</h6>
        <p class="card-text">
          <span class="font-weight-bold">Available Colors: </span>
          <span *ngFor="let color of car.colors" class="car-color-box car-color-box-{{color}}"></span>
        </p>
        <p class="description card-text">
          <span class="font-weight-bold">Description: </span><br>
          {{car?.description}}
        </p>
        <p class="card-text">
          <span class="font-weight-bold">Features: </span>
        </p>
        <ul class="card-text">
          <li *ngFor="let feature of car?.features">
            {{feature}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</ng-template>

