<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1>{{ title }}</h1>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <router-outlet></router-outlet>
</div>
