<div class="card border-primary mb-4">
  <img class="card-img-top img-fluid" src="{{car.getLargestPicture().path}}" alt="{{car.brand}} - {{car.model}} - {{car.year}}">
  <div class="card-body">
    <h5 class="card-title">{{car.brand}} {{car.model}} {{car.year}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{car.price | currency:car.currency}}</h6>
    <p class="card-text">
      <span class="font-weight-bold">Available Colors:</span>
      <span *ngFor="let color of car.colors" class="car-color-box car-color-box-{{color}}"></span>
    </p>
  </div>
  <div class="card-footer text-muted text-center">
    <a style="color:white;" class="btn btn-primary mb-2" (click)="onViewDetails()">View Details</a>
    <a *ngIf="isCompareEnabled" style="color:white;" class="btn btn-info" (click)="onAddToCompare()">Add to compare list</a>
  </div>
</div>
<div *ngIf="(index+1)%2==0" class="w-100 hidden-xs-down hidden-md-up"><!-- wrap every 2 on sm--></div>
<div *ngIf="(index+1)%3==0" class="w-100 hidden-sm-down hidden-lg-up"><!-- wrap every 3 on md--></div>
<div *ngIf="(index+1)%4==0" class="w-100 hidden-md-down hidden-xl-up"><!-- wrap every 4 on lg--></div>
<div *ngIf="(index+1)%5==0" class="w-100 hidden-lg-down"><!-- wrap every 5 on xl--></div>
