<div class="row">
  <div class="col-12 col-md-10">
    <img src="{{car?.getLargestPicture().path}}" alt="{{car?.brand}} {{car?.model}} {{car?.year}}">
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-6">
    <span class="font-weight-bold">Brand:</span>
  </div>
  <div class="col-12 col-md-6">
    {{car?.brand}}
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-6">
    <span class="font-weight-bold">Model:</span>
  </div>
  <div class="col-12 col-md-6">
    {{car?.model}}
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-6">
    <span class="font-weight-bold">Year:</span>
  </div>
  <div class="col-12 col-md-6">
    {{car?.year}}
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-6">
    <span class="font-weight-bold">Price:</span>
  </div>
  <div class="col-12 col-md-6">
    {{car?.price | currency:car?.currency}}
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-6">
    <span class="font-weight-bold">Available Colors:</span>
  </div>
  <div class="col-12 col-md-6">
    <span *ngFor="let color of car?.colors" class="car-color-box car-color-box-{{color}}"></span>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-6">
    <span class="font-weight-bold">Features:</span>
  </div>
  <div class="col-12 col-md-6">
    <ul>
      <li *ngFor="let feature of car?.features">
        {{feature}}
      </li>
    </ul>
  </div>
</div>
<div class="row" *ngIf="car?.description">
  <div class="col-12">
    <span class="font-weight-bold">Description:</span>
    <p>{{car?.description}}</p>
  </div>
</div>
