/* You can add global styles to this file, and also import other style files */
/*div {
  border: 1px solid red;
}*/

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters .col,
.no-gutters [class*="col"] {
  padding-right: 0;
  padding-left: 0;
}

.car-color-box {
  display:inline-block;
  width:10px;
  height: 10px;
  border-radius: 5px;
  margin: 0 5px;

    &.car-color-box-red {
      background-color: red;
    }

    &.car-color-box-blue {
      background-color: blue;
    }

    &.car-color-box-black {
      background-color: black;
    }

    &.car-color-box-green {
      background-color: green;
    }

    &.car-color-box-silver {
      background-color: silver;
    }
  }
